@import '../main/main.component.scss';
.aboutMeCard{
  @include card;
  padding-top: 50px;
}

.personalPhoto{
  margin: 20px;
  border-radius: 20px 50px;
  width: 20%;
  box-shadow: 5px 5px 20px 5px #ddd;
  transition: all 0.5s;
  animation: photoAnimation 2s 1;
}
@media (max-width:500px) {
  .personalPhoto{
    margin: 20px;
    border-radius: 10px;
    width: 60%;
    box-shadow: 5px 5px 20px 5px #ddd;
    transition: all 0.5s;
    animation: none 3s 1;
  }
}

@media (min-width:501px) {
  @keyframes photoAnimation {
    0%{
      opacity: 0.1;
      width: 1%;
    }

    80%{
      opacity: 0.5;
      width: 21%;
    }
    100%{
      opacity: 1;
      width: 20%;
    }
  }
}


.cardTitle{
  font-size: 2.3em;
  text-shadow: 0px 2px 5px #aaa;
  text-align: center;
  line-height: 1em;
}
.cardSubtitle{
  text-align: center;
  font-style: italic;
  font-size: 1.5em;
  padding-top: 5px;
}
.subtitle{
  font-size: 1.5em;
  text-shadow: 0px 2px 5px #aaa;
}
mat-divider{
  margin: 5px;
  background-color: #f00;
}
strong{
  text-shadow: 0px 2px 5px #aaa;
}


