<div class="col-md-12">
  <mat-card class="aboutMeCard">
    <mat-card-header>
      <mat-card-title class="cardTitle">
        <p>SEBASTIAN FELTES</p>
      </mat-card-title>
      <mat-card-subtitle class="cardSubtitle">
        <p>Web developer</p>
      </mat-card-subtitle>
    </mat-card-header>
      <img mat-card-image id="" src="assets/wspProfilePhoto.jpeg" alt="Sebastian Feltes photography"
        class="personalPhoto">
    <mat-card-content>
      <mat-divider></mat-divider>
      <p class="subtitle">
        Imagination has <strong>no limits</strong>...
      </p>
      <p>
        Hi there! I am a <strong>32 yo Argentine Web Developer</strong> who is currently learning different technologies
        for the
        development of web pages and mobile and desktop applications.
        I consider myself a <strong>curious and creative person, responsible and committed.</strong> I feel that through
        web design
        and within the world of technology itself, there are no set limits. <strong>"The sky is the limit"</strong> said
        Christopher
        Wallace and I think that phrase applies perfectly to this profession. Learning how the world works is the
        first step to improve it, and technology is a very powerful tool when it comes to helping people and making
        their lives easier. That's why I like to learn, to be able, in the future, to <strong>create useful
          things</strong> for
        others...
      </p>
      <mat-divider></mat-divider>
      <p class="subtitle">
        Inspiration? Let me see...
      </p>
      <p>
        One of my "idols" or references is <strong>Aaron Swartz</strong>, the so-called "son of the internet": His
        fight,
        intelligence and way of seeing the world is an example to follow for all of us who like
        technology and want a <strong>real change in the world.</strong> His ideas of <strong>sharing knowledge</strong>
        and that every human being has access to all the information
        available on the ENTIRE network to be able to study and improve their skills are, in my opinion, a
        fundamental basis for technological and human progress.
      </p>
      <p>
        Another person who inspires me to keep going is, and don't you dare laugh, the "cook", a fictional character
        (based on a real person) from the movie <strong>"Men of Honor".</strong> I saw the movie as a young man and
        Brashear's
        <strong>tenacity</strong> and how he overcomes adversity and "what will they say" is impressive. I come from a
        slum in the
        province of Buenos Aires, where, unfortunately, thanks to the possibilities, there are few people who can
        <strong>aspire to be "great" or "do great things"</strong>, which is why I always looked for ways to stand out
        and seek my
        place in the world to show that <strong>no matter where you come from</strong>, everyone is responsible for
        their destiny...
        But, to much talk and life philosophy, let's take a look of my skills...
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>
