<div class="col-md-12">
  <mat-card class="myWorkCard">
    <mat-card-header>
      <mat-card-title>
        <p>
          MY WORK
        </p>
      </mat-card-title>
      <mat-card-subtitle>Something of my work and projects contributions</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <div>
        <mat-card class="projectCard">
          <p>
            Inventory Control for a tool's storeroom
          </p>
          <img
            src="https://trello.com/1/cards/63474d91adc6260085875aa6/attachments/6349e7983659c501dab6851e/previews/6349e7993659c501dab68536/download/figma-design.png"
            alt="">
          <a href="https://CFL404Sistemas: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@github.com/CFL404Sistemas/SGCFL.git">GitHub
            project</a>
        </mat-card>
      </div>
      <!-- <div>
        <mat-card class="card">

        </mat-card>
      </div>
      <div>
        <mat-card class="card">

        </mat-card>
      </div> -->
    </mat-card-content>
    <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
  </mat-card>
</div>
