@import '../main/main.component.scss';

.contactCard{
  @include card;
  padding-bottom: 2vh;
  animation: none 2s 1;
}
mat-card-content{
  width: 100%;
}
mat-form-field{
  width: 100%;
}
textarea{
  height: 30vh;
  resize: none;
  overflow: hidden;
}
p{
  font-size: 1.1em;
  text-shadow: 0px 2px 5px #aaa;
}
.warning{
  margin-top: 0;
  margin-bottom: 0px;
  padding-top: 0;
}
span{
  color: #f00;
  font-weight: 400;
}

//animation
@keyframes contactAnimation {
  0% {
      left: -1000px;
  }
  100% {
      left: 0;
  }
}






