@mixin card{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 10px 5px;
  border-bottom: 1px solid #c00;
  border-right: 1px solid #c00;
  border-left: 1px solid #c00;
  box-shadow: 1px 1px 2px #faa;
}


.animatedChip{
  background: linear-gradient(to right, #3f4, #f0f);

}
