<div class="col-md-12">
  <mat-card class="skillsCard">
    <mat-card-header>
      <mat-card-title>
        <p>
          MY SKILLS
        </p>
      </mat-card-title>
      <mat-card-subtitle>Soft and hard skills i have acquired</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        Soft Skills
      </p>
      <mat-chip-list aria-label="Soft Skills">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <mat-chip class="chip1" color="primary" selected>Creativity</mat-chip>
            </div>
            <div class="col-md-6">
              <mat-chip class="chip2" color="primary" selected>Commitment</mat-chip>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-chip class="chip3" color="primary" selected>Responsability</mat-chip>
            </div>
            <div class="col-md-6">
              <mat-chip class="chip4" color="primary" selected>Fluid comunication</mat-chip>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-chip class="chip5" color="primary" selected>"Outside of the box" thinking</mat-chip>
            </div>
            <div class="col-md-6">
              <mat-chip class="chip1" color="primary" selected>Proactivity</mat-chip>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-chip class="chip2" color="primary" selected>Agile Methodology</mat-chip>
            </div>
            <div class="col-md-6">
              <mat-chip class="chip2" color="primary" selected>Fast learning</mat-chip>
            </div>
          </div>
        </div>
      </mat-chip-list>
      <mat-divider></mat-divider>
      <p>
        Hard Skills
      </p>
      <div class="container-fluid skillsList">
        <div class="row">
          <div class="col-md-12">
            <mat-chip-list aria-label="Hard Skills" class="">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <mat-chip class="chip1" color="primary" selected>HTML</mat-chip>
                  </div>
                  <div class="col-md-4">
                    <mat-chip class="chip2" color="primary" selected>CSS/SASS</mat-chip>
                  </div>
                  <div class="col-md-4">
                    <mat-chip class="chip3" color="primary" selected>Responsive Design</mat-chip>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-chip class="chip4" color="primary" selected>Native JavaScript</mat-chip>
                  </div>
                  <div class="col-md-4">
                    <mat-chip class="chip5" color="primary" selected>Angular</mat-chip>
                  </div>
                  <div class="col-md-4">
                    <mat-chip class="chip1" color="primary" selected>React</mat-chip>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-chip class="chip2" color="primary" selected>Redux</mat-chip>
                  </div>
                  <div class="col-md-4">
                    <mat-chip class="chip3" color="primary" selected>Bootstrap</mat-chip>
                  </div>
                  <div class="col-md-4">
                    <mat-chip class="chip4" color="primary" selected>PHP</mat-chip>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-chip class="chip5" color="primary" selected>MySQL</mat-chip>
                  </div>
                  <div class="col-md-4">
                    <mat-chip class="chip1" color="primary" selected>JQuery</mat-chip>
                  </div>
                  <div class="col-md-4">
                    <mat-chip class="chip2" color="primary" selected>Git</mat-chip>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <mat-chip class="chip3" color="primary" selected>GitHub</mat-chip>
                  </div>
                  <div class="col-md-4">
                    <mat-chip class="chip4" color="primary" selected>Treello</mat-chip>
                  </div>
                  <div class="col-md-4">
                    <mat-chip class="chip5" color="primary" selected>Figma</mat-chip>
                  </div>
                </div>
              </div>
            </mat-chip-list>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <p>
              Certificates
            </p>
            <div>
              <a href="https://www.freecodecamp.org/certification/SebastianFeltes/responsive-web-design">Responsive
                Web Design by FreeCodeCamp</a>
            </div>
            <div>
              <a
                href="https://www.freecodecamp.org/certification/SebastianFeltes/javascript-algorithms-and-data-structures">JavaScript
                Algorithms and Data Structures by FreeCodeCamp</a>
            </div>
            <div>
              <a href="">Computational Thinking by CFL-404 Berisso</a>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>
